@import '../../index.scss';

.contact {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include mobile {
    flex-direction: column;
  }

  .left {
    // flex: 1;
    overflow: hidden;

    img {
      height: 600px;
      width: 600px;
    }
  }
  .right {
    // flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 30px;
    }
    .contactline {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
      }
      span {
        margin-left: 10px;
      }
    }
  }
}
